.DS_Store
.idea

# Java output file
/out

# LaTeX temporary files
*.aux
*.log
*.toc

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# Sublime Text Project Files (usually contain absolute paths)
*.sublime-project
*.sublime-workspace